<mat-toolbar color="primary" class="mat-elevation-z1">
  <div style="display:block;width:150px;">
      <img src="../assets/img/angular2-logo-red.png" style="height:60px;padding-left:30px;text-align:center;"/>
  </div>

  <button mat-icon-button id="menu" (click)="navService.openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span>Dynamic Expanding Nav Drawer Example</span> -->
  <span>Angular 8 & Angular Material Demo</span>

  <span class="toolbar-seprator"></span>

  <button mat-icon-button>
    <mat-icon>message</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
